/* Headings with CSS color Property */
.heading_color_red {
    color: red;
}
.heading_color_green {
    color: green;
}
.heading_color_blue {
    color: blue;
}
.heading_color_yellow {
    color: yellow;
}
.heading_color_brown {
    color: brown;
}
.heading_color_pink {
    color: pink;
}

/* Headings with CSS Background Color Property */
body {
    background-color: powderblue;
}
.heading_background_color_red {
    background-color: red;
}
.heading_background_color_green {
    background-color: green;
}
.heading_background_color_blue {
    background-color: blue;
}
.heading_background_color_yellow {
    background-color: yellow;
}
.heading_background_color_brown {
    background-color: brown;
}
.heading_background_color_pink {
    background-color: pink;
}

/* Headings with CSS Font Size Property */
.heading_font_size_30px {
    font-size: 30px;
}
.heading_font_size_40px {
    font-size: 40px;
}
.heading_font_size_50px {
    font-size: 50px;
}
.heading_font_size_60px {
    font-size: 60px;
}
.heading_font_size_70px {
    font-size: 70px;
}
.heading_font_size_80px {
    font-size: 80px;
}